@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply font-sans;
}

body {
    @apply font-sans;
}

/* src/index.css */

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
